@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* DEFAULT */
:root {
  --fit-color: rgb(0, 0, 0);
  --second-color: rgba(51, 51, 51, 0.5);
  --text-color: white;
  --welcome-background: linear-gradient(
    to Bottom,
    rgb(0, 0, 0) 0%,
    rgb(10, 10, 10) 100%
  );
  --about-background: linear-gradient(
    to Bottom,
    rgb(10, 10, 10) 0%,
    rgb(20, 20, 20) 100%
  );
  --skills-background: linear-gradient(
    rgb(20, 20, 20) 0%,
    rgb(25, 25, 25) 100%
  );
  --projects-background: linear-gradient(
    to Bottom,
    rgb(25, 25, 25) 0%,
    rgb(10, 10, 10) 100%
  );
  --contact-background: linear-gradient(
    to Bottom,
    rgb(10, 10, 10) 0%,
    rgb(0, 0, 0) 100%
  );
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  color: var(--text-color);
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  background-color: black;
}

li {
  list-style: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 1.5rem;
}

.title {
  font-size: 2rem;
}
.btn {
  cursor: pointer;
  font-weight: 600;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  transition: background-color 0.25s ease-in-out;
}

.icon {
  cursor: pointer;
  height: 2rem;
}
/* Under Construction */
.notification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffcc00;
  color: #000;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  z-index: 1000;
}
/*----------------------HEADER----------------- */
.header,
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-desktop {
  background: var(--fit-color);
  height: 6vh;
  border: 1px solid var(--second-color);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar {
  max-width: 350px;
  width: 100%;
}

.navbar-list {
  gap: 0.5rem;
}

/*----------------------MAIN----------------- */

/* WELCOME SECTION */
#welcome-section,
#about-section,
#skills-section,
#projects-section,
#contact-section,
#footer,
.welcome-info,
.about-info,
.about-info,
.skills-info,
.contact-info,
.development,
.btn-container,
.social-container,
.experience-container,
.education-container,
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-section {
  gap: 5rem;
  min-height: 100vh;
  background: var(--welcome-background);
  /* margin: 0 10rem; */
}

.welcome-picture {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  overflow: hidden;
}

.welcome-info {
  flex-direction: column;
  column-gap: 5rem;
}
.text-container {
  margin-bottom: 1rem;
  text-align: center;
}

.btn-container,
.social-container {
  gap: 1rem;
}

.btn-container {
  margin-bottom: 1rem;
}

.btn-color-1 {
  border: 1px solid white;
  background-color: black;
  color: rgb(255, 255, 255);
}

.btn-color-2 {
  background-color: rgb(235, 235, 235);
  color: rgb(0, 0, 0);
}

.btn-color-1:hover {
  background-color: rgb(235, 235, 235);
  color: rgb(0, 0, 0);
}

.btn-color-2:hover {
  background-color: white;
}

/* ABOUT SECTION */
#about-section {
  flex-direction: column;
  background: var(--about-background);
  min-height: 100vh;
  /* margin: 0 10rem; */
}

.head-section {
  text-align: center;
  margin-bottom: 5rem;
}

.about-info {
  gap: 2rem;
}

.about-picture {
  border-radius: 1rem;
  width: 20rem;
  height: 20rem;
  overflow: hidden;
}

.about-details {
  flex-direction: column;
}

.box-info {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.experience-container,
.education-container {
  flex-direction: column;
  padding: 1rem;
  border: 1px solid var(--text-color);
  border-radius: 1rem;
}

.experience-container p,
.education-container p {
  color: rgb(200, 200, 200);
}

.text-paragraph {
  width: 100%;
  max-width: 30rem;
  color: rgb(200, 200, 200);
}

/* SKILLS SECTION */
#skills-section {
  background: var(--skills-background);
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
}

.skills-info {
  gap: 2rem;
}
.development {
  flex-direction: column;
  border: 1px solid var(--text-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 45rem;
  padding: 1rem;
  gap: 1rem;
}

.skills-rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.skill-container {
  display: flex;
  width: 100%;
  max-width: 10rem;
  gap: 0.5rem;
  flex-basis: 10rem;
  flex-grow: 1;
}

/* PROJECTS SECTIONS */
#projects-section {
  flex-direction: column;
  background: var(--projects-background);
  min-height: 100vh;
}

.projects-info {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.project-picture {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
}

.project-tile {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* CONTACT-SECTION */
#contact-section {
  flex-direction: column;
  min-height: 80vh;
  background: var(--contact-background);
}

.contact-info {
  gap: 1rem;
}

.contact-container {
  gap: 0.5rem;
}

.contact-image {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}

/*FOOTER */

#footer {
  flex-direction: column;
  min-height: 15vh;
  background: black;
}

footer > p {
  margin-top: 0.5rem;
  text-align: center;
}
